<%= form_for [@hospital, @patient], html: { class: "form-horizontal patient" } do |f| %>

  <% if @patient.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @patient.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-lg-8">
      <div class="row mt-2 mr-2 ml-2">
        <%= f.label :full_name, class: 'control-label' %>
      </div>
      <div class="row mt-2 mr-2 ml-2">
        <%= f.text_field :full_name, class: 'form-control' %>
      </div>
      <div class="row mt-2 mr-2 ml-2">
        <%=f.error_span(:full_name) %>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="row mt-2 mr-2 ml-2">
        <%= f.label :birthday, class: 'control-label' %>
      </div>
      <div class="row mt-2 mr-2 ml-2">
        <%= f.date_field :birthday, class: 'form-control' %>
      </div>
      <div class="row mt-2 mr-2 ml-2">
        <%=f.error_span(:birthday) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="row mt-2 mr-2 ml-2">
        <%= f.label :hospitalization_date, class: 'control-label' %>
      </div>
      <div class="row mt-2 mr-2 ml-2">
        <%= f.date_field :hospitalization_date, class: 'form-control' %>
      </div>
      <div class="row mt-2 mr-2 ml-2">
        <%=f.error_span(:hospitalization_date) %>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="row mt-2 mr-2 ml-2">
        <%= f.label :cns, class: 'control-label' %>
      </div>
      <div class="row mt-2 mr-2 ml-2">
        <%= f.text_field :cns, class: 'form-control' %>
      </div>
      <div class="row mt-2 mr-2 ml-2">
        <%=f.error_span(:cns) %>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="row mt-2 mr-2 ml-2">
        <%= f.label :sisreg, class: 'control-label' %>
      </div>
      <div class="row mt-2 mr-2 ml-2">
        <%= f.text_field :sisreg, class: 'form-control' %>
      </div>
      <div class="row mt-2 mr-2 ml-2">
        <%=f.error_span(:sisreg) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <div class="row mt-2 mr-2 ml-2">
        <%= f.label :airways, class: 'control-label' %>
      </div>
      <div class="row mt-2 mr-2 ml-2">
        <%= f.select :airways, Patient.human_enum_selectable(:airways, Patient.airways), { }, { class: 'form-control' } %>
      </div>
      <div class="row mt-2 mr-2 ml-2">
        <%=f.error_span(:airways) %>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="row mt-2 mr-2 ml-2">
        <%= f.label :status, class: 'control-label' %>
      </div>
      <div class="row mt-2 mr-2 ml-2">
        <%= f.select :status, Patient.human_enum_selectable(:status, Patient.statuses), { }, { class: 'form-control' } %>
      </div>
      <div class="row mt-2 mr-2 ml-2">
        <%=f.error_span(:status) %>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="row mt-2 mr-2 ml-2">
        <%= f.label :departure_date, class: 'control-label' %>
      </div>
      <div class="row mt-2 mr-2 ml-2">
        <%= f.date_field :departure_date, class: 'form-control' %>
      </div>
      <div class="row mt-2 mr-2 ml-2">
        <%=f.error_span(:departure_date) %>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="row mt-2 mr-2 ml-2">
        <%= f.label :departure_reason, class: 'control-label' %>
      </div>
      <div class="row mt-2 mr-2 ml-2">
        <%= f.select :departure_reason, Patient.human_enum_selectable(:departure_reason, Patient.departure_reasons), { }, { class: 'form-control' } %>
      </div>
      <div class="row mt-2 mr-2 ml-2">
        <%=f.error_span(:departure_reason) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-offset-2 col-lg-10 mt-2 mr-2 ml-2">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to hospital_patients_path, class: 'btn btn-default' do %>
        <%= t('views.patients.form.cancel') %>
      <% end %>
    </div>
  </div>
<% end %>
