<tr>
  <th class="text-center" scope="row"> <%= link_to patient.full_name, hospital_patient_path(patient) %> </th>
  <td class="text-center"> <%= patient.birthday ? l(patient.birthday) : 'Não Informado' %></td>
  <td class="text-center"> <%= patient.hospitalization_date ? l(patient.hospitalization_date) : 'Não Informado' %> </td>
  <td class="text-center"> <%= Patient.human_enum_name(:airways, patient.airways) %> </td>
  <td class="text-center"> <%= Patient.human_enum_name(:status, patient.status) %> </td>
  <td class="text-center"> <%= patient.cns %> </td>
  <td class="text-center"> <%= patient.sisreg %> </td>
  <td class="text-center"> <%= patient.departure_date ? l(patient.departure_date) : 'Não Informado' %> </td>
  <td class="text-center"> <%= Patient.human_enum_name(:departure_reason, patient.departure_reason) %> </td>
  <td class="text-center"> <%= PatientBed.human_enum_name(:bed_type, patient.patient_bed.bed_type) if patient.patient_bed %> </td>
  <td class="text-center"> <%= patient.patient_bed.waiting_uti if patient.patient_bed %> </td>
</tr>
